body {
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    background-color: #024aac;
    border: none;
    padding: 16px;
    width: 100%;
    border-radius: 10px;
    color: black;
    font-size: 16px;
}

a {
    color: white;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.center {
    text-align: center;
}

h1 {
    color: #f98922;
}

footer img {
    width: 40px;
    height: 40px;
}


footer {
    display: flex;
    justify-content: center;
    text-align: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container {
    padding: 0px 50px;
}

nav a:hover {
    color: blue;
}
